<div id="container">
  <div class="row">
    <div class="col-md-6 hcenter">
      <p><a href="/operator">
        I am a Train Operator
      </a></p>
      <p><a href="/rider">
        I am a Train Rider
      </a></p>
    </div>
  </div>
</div>
