<div class = container>
  <h1>Welcome to the Train System!</h1>
  <br>

  <br>


  <div class = row>
    <div class="col-xs-6 col-md-4">
      <form action="/operator" method="get">
        <div class="text-center">
          <button class= 'button indexbtn' type="submit">I am a Train System Operator</button>
        </div>
      </form>
    </div>

    <div class="col-xs-6 col-md-4">
      <form action="/rider" method="get">
        <div class="text-center">
          <button class = 'button indexbtn' type="submit">I am a Train Rider</button>
        </div>
      </form>
    </div>
  </div>
</div>
