<h1>Welcome to the Train System!</h1>
<br>
<br>
<br>
<br>

<div class = operator>
<form action="/operator" method="get">
  <button type="submit">I am  a System Operator</button>
</form>
</div>


<br>
<br>

<div class = rider>
<form action="/rider" method="get">
  <button type="submit">I am a Train Rider</button>
</form>
</div>
