<h1>Welcome to the Train System!</h1>


<p>Click here if you are a System Operator:</p>

<form action="/operator" method="post">
  <button type="submit"></button>
</form>



<p>Click here if you are a Train Rider:</p>

<form action="/rider" method="get">
  <button type="submit"></button>
</form>
