<div class ='container'>

  <h1 class="rider">Stops for <%= @line.name() %> Line</h1>

  <form action="/line_stations" method="get">
    <input id='line_id' name='line_id' type='hidden' value='<%= @line.id() %>'>
  </form>



    <% if @line.stations() == nil %>
    <p class="rider">There are no stations yet!</p>
    <% else %>
    <ol>
      <% @line.stations().each() do |station|  %>
      <li class='<%= station.id() %>'><%= station.name() %></a></li>
      <% end %>
    </ol>
    <% end %>


    <div class="span7 text-center">
      <p class="return"><a href="/rider">Return to the Rider Page</a></p>
    </div>
    </div>



<!-- Add in where are you going and then have a drop down with all the stations once they click that station it shows all the possible lines that the two share that a rider could take -->
