<div class ='container'>

  <h1>Stops for <%= @line.name() %> Line</h1>

  <form action="/line_stations" method="get">
    <input id='line_id' name='line_id' type='hidden' value='<%= @line.id() %>'>
  </form>

    <br>


    <% if @line.stations() == nil %>
    <p>There are no stations yet!</p>
    <% else %>
    <ol>
      <% @line.stations().each() do |station|  %>
      <li><%= station.name() %></a></li>
      <% end %>
    </ol>
    <% end %>
    <br>


    <div class="span7 text-center">
      <a href="/rider"><button class="button button-back center btn">Return to Rider Page</a>
      </div>
    </div>
