<div class ='container'>
  <h1 class="rider">Hello Rider!</h1>
  <h3 class="rider">Below are the lines and stations present.</h3>



  <div class = ' frow'>
    <div class ='col-xs-4 col-sm-6'>
      <h2 class="rider"> Lines </h1>
      <br>
      <% if !@lines.any? %>
      <p class="warning">There are no lines yet!</p>
      <% else %>
      <ol>
        <% @lines.each() do |line|  %>
        <li><a href="/line_stations/<%= line.id() %>"><%= line.name() %></a></li>
        <% end %>
      </ol>
      <% end %>
    </div>

    <div class ='col-xs-4 col-sm-6'>

      <h2 class="rider"> Stations </h1>
      <br>
      <% if !@stations.any? %>
      <p class="warning">There are no lines yet!</p>
      <% else %>
      <ol>
        <% @stations.each() do |station|  %>
        <li><a href="/station_lines/<%= station.id() %>"><%= station.name() %></a></li>
        <% end %>
      </ol>
      <% end %>
    </div>
  </div>

<div class="span7 text-center">
  <p class="return"><a href="/">Click here to return to the Main Page</a></p>
</div>
</div>
