<div class ='container'>

  <h1>Lines for <%= @station.name() %> Station</h1>

  <form action="/station_lines" method="get">
    <input id='station_id' name='station_id' type='hidden' value='<%= @station.id() %>'>
  </form>

  <br>



  <% if @station.lines() == nil %>
  <p>There are no lines yet!</p>
  <% else %>
  <ul>
    <% @station.lines().each() do |line|  %>
    <liclass='<%= line.id() %>'><%= line.name() %></a></li>
    <% end %>
  </ul>
  <% end %>
  <br>


  <div class="span7 text-center">
    <p class="return"><a href="/rider">Return to the Rider Page</a></p>
  </div>
  </div>
